nav{
  justify-content: space-around;
  align-items: center; 
  min-height:5vh;
  background: green;
  font-weight: 400;
  box-shadow: 1px 1px 25px .5px rgb(150, 25, 25);
  
 

}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
  list-style: none;
  

 
}
li{
  list-style: none;
}


.containerp{
  height: 100%;
  width: 100%;
}


.App {
  text-align: center;
}

.searchapicss{
  background-color: gold;;
}

.moviecss{
  background-color: rgb(238, 106, 238);
}

.homecss{
  background-color: red;
}
